@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: inherit;
}

body {
   font-family: 'Poppins', sans-serif;
   box-sizing: border-box;
   min-height: 120vh;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.65);
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 4;
    gap: 6px;
}

.logo {
    font-size: 14.5px; 
    text-transform: uppercase;
    color: black;
    font-weight: 700;
}

.navigation ul {
    list-style: none;   
    display: flex;
}

.header .navigation ul li {
    position: relative;
}

.header .navigation ul li a {
    font-size: 13px;
    color: black;
    text-decoration: none;
    padding: 13px;
    display: block;
    transition: all .2s ease;
    font-weight: 540;
}

.header .navigation ul li a:hover {
    background-color: #ed3c57;
}

.header .navigation ul li ul {
    position: absolute;
    right: 0;
    width: 225px;
    background-color: rgba(255, 255, 255, 1);
    display: none;
    flex-direction: column;
}

.header .navigation ul li ul li a {
    font-size: 13.5px;
    text-transform: capitalize;
}

.header .navigation ul li ul li ul {
    position: absolute;
    top: 0;
    right: 225px;
}

.header .navigation ul li ul li {
    width: 100%;
}

.header .navigation ul li:hover > ul {
    display: flex;
}

.header .navigation ul li ul li span {
    float: right;
    color: #ffffff;
    background-color: #c43348;
    padding: 5px 6px;
    font-size: 9px;
    text-align: center;
    border-radius: 5px; 
}

#toggle,
.header label {
    display: none;
    cursor: pointer;
}

.menu {
    width: 45px;
    height: 50px;
}

.footer {
   background-color: #232323;
   display: flex;
   flex-direction: column; 
   text-align: center;
}

a {
    text-decoration: none;
}

footer .social {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 15px 0;
}

footer .social a {
    color: black;
    background-color: white;
    padding: 5px;
    border-radius: 50%;
}

footer .social a i {
    font-size: 22px;
    transition: all .5s ease;
}

footer .social a i:hover {
    transform: translateY(-2px);
}

footer .nav-section {
    margin-bottom: 15px;
}

footer .nav-section nav {
    display: flex;
    justify-content: center;
    gap: 35px;
}

footer .nav-section nav a {
    color: black;
    font-size: 14px;
    font-weight: 550;
}

footer .copy {
    padding: 14px;
    background-color: #2b2b2b;
    color: white;
    font-size: 14px;
}
footer .copy i {
    font-size: 16px;
}
@media (max-width: 1024px) {
    .header label {
       display: initial;
    }
    .header {
       padding: 20px 10%;
    }
    .header .navigation {
       position: absolute;
       top: 100%;
       left: 0;
       right: 0;
       background: rgba(255, 255, 255, 1);
       display: none;
       flex-direction: column;
    }
    .header .navigation ul {
       flex-direction: column;
    }
    .header .navigation ul li {
       width: 100%;
    }
    .header .navigation ul li a {
       padding: 8px 30px 8px 10%;
    }
    .header .navigation ul li ul {
       position: relative;
       width: 100%;
       left: 0;
    }
    .header .navigation ul li ul li {
       background-color: rgba(255, 255, 255, 1);
    }
    .header .navigation ul li ul li ul {
       position: relative;
       width: 100%;
       left: 0;
    }
    .header .navigation ul li ul li span {
       padding: 4px 10px;
       font-size: 10px;
    }
    #toggle:checked ~ .navigation {
       display: flex;
    }
}
.fons-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: clamp(90px, 5vw, 115px); 
    font-weight: 900;
    color: rgba(255, 255, 255, 1); 
    z-index: 1;
    pointer-events: none; 
    text-align: center;
    line-height: 1.3;
}

.navigation {
    display: flex;
    align-items: center;
}
.form {
    background-color: black;
    height: 34px;
    border-radius: 100px;
    display: flex;
    align-items: center;         
    padding: 0 11px;
    gap: 6px;
    position: relative;
}

.form input {
    border: none;
    font-size: 14px;
    outline: none;
    background-color: transparent;
    color: white;   
    font-weight: 500;         
}

.form input::placeholder {
    color: rgba(255, 255, 255, 0.8);
}

.form button {
    background-color: black;
    border: none;
    cursor: pointer;
    display: flex;               
    justify-content: center;
    align-items: center;
}

.form button i {
    color: white;               
    font-size: 14px;
}
.hero {  
    min-height: 80vh;
    background-image: 
        linear-gradient(rgba(77, 67, 67, 0.65), rgba(0, 0, 0, 0.7)),
        url("Imatges/Infografies.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.separador {
    width: 100%;
    height: 35px;
    background-color: #2b2b2b;
    border-radius: 2px;
}
.passos {
    width: 70%;
    margin: 44px auto;
    padding: 25px 30px;
    background: lightgrey;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.passos h2 {
    font-size: 25px;
    margin-bottom: 12px;
    color: black;
}

.passos ul {
    padding-left: 25px;
    line-height: 1.8;
    font-size: 16px;
    color: #333;
    font-weight: 500;
}

.passos ul li{
    margin-bottom: 12px;
    transition: transform 0.2s ease, color 0.2s ease;
}

.passos li:hover {
    color: black;
    transform: translateX(5px);
}
.card {
    background: lightgrey;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 2px 12px rgba(0,0,0,0.2);
    transition: transform 0.2s ease;
    justify-content: center;
    width: 83%;
    margin: auto;
    margin-bottom: 24px;
}
.card p {
    font-size: 22px;
}
.card img {
    width: 31.2%;
    border-radius: 24px;
    margin-top: 10px; 
    margin-left: 10px; 
    margin-right: 10px;      
    height: auto; 
    object-fit: cover;
    justify-content: center;
}

.card:hover {
    transform: translateY(-5px);
}

.card h3 {
    color:black;
    margin-bottom: 10px;
    font-size: 26px;
    text-align: center;
}
@media (max-width: 600px) {
    .nav-section nav {
        flex-direction: column;
    }
}